<%- contentFor('body') %>

<form action="">
    <label for="name">用户名</label>
    <input type="text" id="name">
    <label for="pwd">密码</label>
    <input type="password">
</form>

<script>
alert("1123")
</script>