<!-- banner -->
<div id="slidey" style="display:none;">
		<ul>
            <% list.forEach((e)=>{ %>
                <li><img src="<%- e.picUrl %>" alt=" "><p class='title'><%- e.moviename %></p><p class='description'><%- e.desc %></p></li>
            <% })%>
		</ul>   	
    </div>
<script src="js/jquery.slidey.js"></script>
<script src="js/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">
    $("#slidey").slidey({
        interval: 8000,
        listCount: 5,
        autoplay: false,
        showList: true
    });
    $(".slidey-list-description").dotdotdot();
</script>
<!-- //banner -->