<% new Array(star).fill(0).forEach(e=>{%>
<li>
  <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
</li>
<% }) %>
<% new Array(5 - star).fill(0).forEach(e=>{%>
<li>
  <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
</li>
<% }) %>
