<table>
  <thead>
    <tr>
      <th>电影名</th>
      <th>下单时间</th>
      <th>金额</th>
      <th>座位</th>
    </tr>
  </thead>

  <tbody>
    <% list.forEach(function(l){ %>
    <tr>
      <td><%- l.moviename %></td>
      <td><%- l.addTime %></td>
      <td><%- l.price %></td>
      <td><%- l.seats %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
