<table class="orderlist">
  <thead>
    <tr>
      <th>电影名</th>
      <th>下单时间</th>
      <th>金额/元</th>
      <th>座位</th>
    </tr>
  </thead>

  <tbody>
    <% list.forEach(function(l){ %>
    <tr>
      <td><%- l.moviename %></td>
      <td><%- l.addTime %></td>
      <td><%- l.price %></td>
      <td><%- l.seats %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<style>
.orderlist td,th{
  padding: 5px 10px;
  border:1px solid whitesmoke;
}
.orderlist{
  padding: 5px 10px;
  margin: 10px;
}
</style>
